.todoFilterContainer {
  box-sizing: border-box;
  outline: none;
  color: #4d4d4d;
  background-color: #fff;
  border: none;

  width: 100%;
  font-size: 14px;
  border-bottom: 0.2px solid #ddd;
  display: flex;
  padding: 10px 20px;
}

.todoFilterList {
  display: flex;
}

.todoFilterCounter {
  width: 30%;
}

.todoFilterItem {
  margin-right: 15px;
}

.todoFilterItem:last-child {
  margin-right: 0;
}

.todoFilterAll:hover,
.todoFilterActive:hover,
.todoFilterCompleted:hover {
  border: 1px solid rgba(204, 154, 154, 0.6);
  border-radius: 2px;
  padding: 4px;
}

.todoFilterClear {
  margin-left: 8%;
}

.todoFilterClearall:hover {
  text-decoration: underline;
}

.todoFilterAll,
.todoFilterActive,
.todoFilterCompleted,
.todoFilterClearall {
  outline: none;
  border: 0;
  font: inherit;
  color: inherit;
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
}

.todoFilterAll:active,
.todoFilterAll:focus,
.todoFilterActive:active,
.todoFilterActive:focus,
.todoFilterCompleted:active,
.todoFilterCompleted:focus {
  border: 1px solid #cc9a9a;
  border-radius: 2px;
  padding: 4px;
}
